
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body{
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin: 0.1em 0em;
  color: black;
}
a{
  color: inherit;
  text-decoration: inherit;
}

h1{
  font-size: 1.2em;
  font-weight: bold;
}
p{
  font-size: 0.9em;
}
.item_shadow{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item_shadow:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container_main{
  padding: 0 3em;
}
   /*          *-------------------------*
               *        Nav              *
               *-------------------------*                          */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav_container a {
  padding: 2em;
}

.nav_container a:hover{
  color: #0065FC;
  box-shadow: 0px -5px 1px -3px #0065FC;
}
.log {
  color: #0065FC;
  font-weight: bold;
}


.searchButton--smartphone {
  display: none;
}

   /*          *-------------------------*
               *        Nav              *
               *-------------------------*                          */


   /*          *-------------------------*
               *        Header           *
               *-------------------------*                          */
header p{
  line-height: 0em;
}
.fa-search {
  color: white;
}
.container_form{
  padding-top: 0.7em;
  display: flex;
  height: 3em;
}
/* For Google Chrome: */
.SearchPlaceholder::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
}
/* For Mozilla Firefox: */
.SearchPlaceholder::-moz-placeholder {
    color: black;
    font-weight: bold;
}
/* For Internet Explorer: */
.SearchPlaceholder:-ms-input-placeholder {
    color: black;
    font-weight: bold;
}
/* For Opera: */
.SearchPlaceholder:-o-input-placeholder {
    color: black;
    font-weight: bold;
}

.searchLogo{
  display: flex;
  width: 3em;
  border: 1px solid #F2F2F2 ;
  background-color: #F2F2F2;
  justify-content: center;
  align-items: center;
  border-radius: 9px 0 0 9px;
  color: black;

}
#search{
  width: 12em;
  border: 1px solid rgb(242, 242, 242);
  padding: 1em;
  outline: none
}
.searchButton{
  width: 9em;
  border: 1px solid #0065FC ;
  background-color: #0065FC;
  text-align: center;
  border-radius: 0 9px 9px 0;
  color: white;
}

.filtre_row {
  display: flex;
  align-items: center;
}
.containerFiltres{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-evenly;
  max-width: 52em;
}
.iconFiltres{
  display: flex;
  align-items: center;
  border: 2px solid #F2F2F2;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  font-weight: bold;
}
.iconFiltres:hover {
  border: 2px solid #0065FC;
  background-color: #DEEBFF;
}
.textFiltre{
  margin-left: 0.7em;
  padding-right: -0.7em;
}
.iconLeft{
  display: flex;
  align-items: center;
  /* width: 2.2em; */
  /* height: 2.2em; */
  /* position: absolute; */
  /* left: -1em; */
  /* -webkit-transition: -webkit-transform 0.55s; */
  /* transition: transform 0.55s, color 1s; */
  -webkit-transform: translate3d(-1em,0, 0);
  transform: translate3d(-1em,0,0);
  
}
.iconFiltres:hover .iconLeft .iconRight {
  border: 1px solid #0065FC;
  background-color: #0065FC;
  color: #DEEBFF;
  -webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  transition: transform 1.5s, color 1s;
  /* transform: translateX( -1px ) rotateY( 360deg ); */
	/* transform: translate3d(20em,0,0) scale(2) rotate(360deg) opacity(0); */
  /* transition: opacity 3s, transform 1.5s, color 1s; */
}
.iconRight{
  display: flex;
  border: 1px solid #DEEBFF;
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 2.2em;
  width: 2.2em;
  right: -9px;
}

.fa-info {
  border: 2px solid #F2F2F2;
  color: #0065FC;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  line-height: 19px;
  margin-right: 0.7em;
}
   /*          *-------------------------*
               *        Header           *
               *-------------------------*                          */


   /*          *-------------------------*
               *        Main             *
               *-------------------------*                          */


   /*          *-------------------------*
               *        Hebergement      *
               *-------------------------*                          */
.fa-star {
  color: #0065FC;
  padding-bottom: 0.5em;
}
.fa-star:hover{
  transform: scale(1.5);
  transition: 0.35s;
}
.starGrey .fa-star{
  color: #cbd0d4;
}
#hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hebergement_column {
  background-color: #F2F2F2;
  border-radius: 10px;
  flex-basis:65.00%;
  padding: 1em;
}
.popularity {
  background-color: #F2F2F2;
  border-radius: 10px;
  flex-basis: 28.00%;
  padding: 1em;
}
#titleHebergement{
  padding: 0 1em;
}
.moreHebergement{
  padding: 1em 1em;
  font-weight: bold;
}
h2{
  font-size: 1.2em;
  font-weight: bold;
}
.hebergementVignette {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}
.hebergementVignette a {
  display: flex;
  flex-basis: 33%;
}
.vignette {
  background-color: white;
  border-radius: 18px;
  padding: 0.3em;
  margin: 1em;
}
.vignette img{
  width: 100%;
  border-radius: 18px 18px 0 0;
  max-height: 8em;
  object-fit: cover;
}
.hebergementVignetteSection{
  padding-left: 1em;
  font-size: 0.8em;
  line-height: 1em;
}




.popularity h2{
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
.containerVignette{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vignettePopu{
  background-color: white;
  border-radius: 18px;
  padding: 0.3em;
  margin: 1em;
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  font-size: 0.8em;
  max-height: 13em;
}
.vignettePopu img{
  border-radius: 18px 0 0 18px;
  height: 12em;
  width: 11em;
  object-fit: cover;
}
.sectionPopu{
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
   /*          *-------------------------*
               *        Hebergement      *
               *-------------------------*                          */

   /*          *-------------------------*
               *        Activite         *
               *-------------------------*                          */

#big_container {
  margin: 4em 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30em;
  align-content: space-between;
  justify-content: space-between;
  /* width: 100%; */
}

.item {
  width: 18em;
  overflow: hidden;
  border-radius: 18px;
}
.item a {
  display: flex;
  flex-direction: column;
}
.item a img {
  object-fit: cover;
}
.item a h3 {
  font-size: 1em;
  padding: 0.5em 1em;
}
.item1 {
  flex-basis: 100%;
}
.item1 img {
  height: 26em;
}

.item2 {
  flex-basis: 55%;
}
.item2 img {
  height: 13em;
}

.item2-extra {
  flex-basis: 35%;
}
.item2-extra img {
  height: 105px;
}


   /*          *-------------------------*
               *        Activite         *
               *-------------------------*                          */

   /*          *-------------------------*
               *        Main             *
               *-------------------------*                          */


  footer{
    background-color: #F2F2F2;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .about{
    display: flex;
    flex-direction: column;
    line-height: 2em;
    padding-left: 9em;
  }

   /*          *-------------------------*
               *        Media            *
               *-------------------------*  
 */


 @media screen and (min-width : 0px) and (max-width : 500px) {
  .nav_container_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0.2em;
    font-size: 1.3em;
  }
  .nav_container_desktop div {
    margin-bottom: 1em;
  }
  .nav_container a {
    justify-content: space-around;
    border-bottom: 3px solid #F2F2F2;
    padding: 0.5em 0em;
    flex-basis: 50%;
    display: flex;
  }
  .nav_container a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    box-shadow: none;
    }
  .nav_img {
    order: 0;
  }
  .nav_signup {
    order: 1;
  }
  .nav_container {
    order: 2;
  }
}

 @media screen and (max-width: 1444px) {
  .item {
    width: 16em;
  }
}

@media screen and (max-width: 1190px) {
  #hebergement {
    display: block;
  }
  .popularity {
    margin-top: 1em;
  }
  .vignettePopu img{
    width: 34em;
  }
  .wrapper {
    height: 20em;
  }
  .item {
    width: 13em;
  }
  .item1 img {
    height: 16em;
}
.item a h3 {
  font-size: 0.9em;
  padding: 0 1em;
}
.item2 img {
  height: 8em;
}
.item2-extra img {
  height: 73px;
}
}

@media screen and (max-width: 990px) {
.container_form {
  margin-left: 1em;
}
.filtre_row {
  flex-direction: column;
  align-items: flex-start;
}
.filtre_row h2 {
  margin-bottom: -0.5em;
  padding-left: 1em;
}
.containerFiltres {
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 12em;
}
.wrapper {
  height: 16em;
}
.item1 img {
  height: 13em;
}
.item a h3 {
  font-size: 0.8em;
}
.item2 img {
  height: 6em;
}
.item2-extra a h3 {
  font-size: 0.6em;
}
.item2-extra img {
  height: 4em;
}
}
    
@media screen and (max-width: 950px) {
.hebergementVignette a {
  flex-basis: 50%;
}
.item {
  width: 10em;
}
}

@media screen and (max-width : 850px) {
  .vignettePopu img {
    width: 27em;
}
.iconFiltres {
  margin-bottom: 0.5em;
}
.information {
  margin: 2em 1em;
}
}

@media screen and (max-width : 800px) {
.vignettePopu img {
  width: 24em;
}
.wrapper {
  flex-direction: row;
  height: auto;
}
.item {
  flex-basis: 100%;
  margin-bottom: 1em;
}
.item img {
  height: 9em;
}
.item a h3 {
  font-size: 1em;
}
.about {
  font-size: 0.7em;
}
}

@media screen and (max-width : 680px) {
.container_main {
  padding: 0 0.5em;
}
#hebergement {
  display: flex;
  flex-direction: column-reverse;
}
.hebergement_column{
  background-color: inherit;
}
.hebergementVignette a {
    flex-basis: 100%;
    display: block;
}
#big_container {
  margin: 4em 2em;
}
footer {
  flex-direction: column;
  align-items: flex-start;
}
.about {
  line-height: 1.4em;
  padding-left: 3em;
  font-size: 1em;
}
.about h3 {
  margin-bottom: 0.5em;
}
}

@media screen and (max-width : 500px) {
body {
 margin: 0;
}
h2 {
  font-size: 1.1em;
}
.container_main {
  padding: 0;
}
.iconFiltres {
  margin: 1em 1.5em;
}
.searchLogo {
    flex-basis: 15%;
    margin-left: -1em;
}
#search {
  flex-basis: 70%;
  width: 12em;
  border: 1px solid rgb(242, 242, 242);
  padding: 1em;
  outline: none
}
.searchButton {
  flex-basis: 18%;
  border-radius: 9px;
  margin-left: -1em;
}
.vignettePopu {
  max-height: 9em;
  margin: 1em 0;
}
.vignettePopu img {
  width: 7em;
  height: 9em;
}
.sectionPopu {
  font-size: 0.8em;
}
.vignette {
  margin: 1em 0;
}
.vignette img {
  max-height: 6em;
}
.hebergementVignetteSection {
  padding-left: 1em;
  font-size: 0.6em;
  line-height: 0.5em;
}
.item img {
  height: 6em;
}
.item a h3 {
  font-size: 0.8em;
}
.container_form {
  display: inline;
  padding-top: 0.7em;
  display: flex;
  height: 3em;
  margin-left: 1em;
}
.searchButton--desktop {
  display: none;
}
.searchButton--smartphone {
  display: inline;
}
header h1 {
  margin-left: 1em;
  font-size: 1.5em;
}
header p {
  margin-left: 1em;
  font-size: 1.3em;
}
.information {
  font-size: 0.9em;
}
}

@media screen and (max-width : 414px) {
.information {
  font-size: 0.8em;
}
}

@media screen and (max-width : 375px) {
header p {
  font-size: 0.8em;
  margin-left: 1.4em;
}
header h1 {
  margin-right: 0.1em;
  font-size: 1.2em;
}
.information {
  font-size: 0.7em;
}
}

@media screen and (max-width : 320px) {
  .information {
    font-size: 0.6em;
}
}